/* Стилови за штампање */
@font-face {
    font-family: 'Miroslav';
    src: url("fontovi/Miroslavljeva-Cirilica.ttf") format('truetype');
}

@page {
    size: A4;
    margin: 0;
}

body {
    font-family: 'Miroslav', 'Times New Roman', Times, serif;
    font-size: 12pt;
    letter-spacing: 2.5px;
    color: black;
    margin: 0;
    width: 210mm;
    height: 297mm;
    /* border: 2px solid red; */
    border: 2px solid transparent; /* sa ovom linijom izbacujemo crveni border frame */
    background-size: cover;
    /* background-image: url("slike/vencanica-nova.jpg"); */
    /* background-image: url("slike/krstenica-stara.jpg"); */

    /* background-image: url("slike/krstenica-nova.jpg");  */

}


.frame {
    margin: 2mm;
    margin-top: 6mm;
    margin-left: 6mm;
    height: 286mm;
    width: 200mm;
    padding: 0mm;
}

.row {
    /* border: 2px solid orange; */
    border: 2px solid transparent;  /*sa ovom linijom izbacujemo narandzasti border  */
    display: flex;
    justify-content: center;
    align-items: center;
}
