/* Стилови основних елементата */
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > header {
    background: linear-gradient(90deg, #A21514 53.58%, #C92F2E 100%);
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > main {
    flex: 1;
    position: relative;
}

body > main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
}

body > footer {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    margin-right: 10px;
}

/* Стилови класа */
.logo-holder {
    position: relative;
    float: left;
}

.logo-holder:before {
    content: "";
    background: linear-gradient(90deg, #F9F9F9 0%, #DFE0E0 97.97%);
    display: block;
    height: 131px;
    width: 100%;
    position: absolute;
    transform: skewX(-29deg);
    top: 0;
    left: 0;
    z-index: -1;
    border-right: 5px solid #fff;
}

.logo-holder:after {
    clear: both;
    display: table;
    content: " ";
}

#logo-holder img {
    max-width: 100%;
    padding-top: 20px;
    display: block;
    box-sizing: border-box;
}

.search-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.search-container form {
    display: inline-block;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    position: relative;
    display: inline-block;
}

#menu a {
    color: white;
    text-decoration: none;
}

.content-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.icon-container {
    font-size: 24px;
    margin-left: 20px;
}

.image-section {
    background-image: url("{% static 'registar/crkva.png' %}");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.slava-reminders {
    float: right;
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slava-reminder {
    margin-bottom: 10px;
}

.krstenica {
    border: 1px solid #ccc;
    margin: 2mm;
    margin-top: 6mm;
    margin-left: 6mm;
    height: 297mm;
    width: 210mm;
    padding: 0mm;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 2px solid red;
    background-size: cover;
}

.krstenica-frame {
    margin: 2mm;
    margin-top: 6mm;
    margin-left: 6mm;
    height: 286mm;
    width: 200mm;
    padding: 0mm;
}

.krstenica-row {
    border: 2px solid orange;
    display: flex;
}

/* Existing styles... */

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
    position: relative; /* For dropdown positioning */
}

#menu a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 8px;
    /* background-color: #f2f2f2; */
}

/* Styles for Dropdown Menu */
#menu .dropdown {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, #A21514 53.58%, #C92F2E 100%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#menu .dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#menu li:hover .dropdown {
    display: block;
}

#menu .dropdown a:hover {
    background-color: linear-gradient(90deg, #9c1818 53.58%, #e13f3f 100%);
}