body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-holder img {
    max-width: 150px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
}

#menu a {
    color: white;
    text-decoration: none;
}
.image-section {
    background-image: url("{% static 'registar/crkva.png' %}");
    background-size: cover;  /* This will ensure your image covers the entire element */
    background-repeat: no-repeat;  /* This will prevent your image from repeating */
    opacity: 0.4;  /* This will make the entire div (and all its contents) semi-transparent */
}