default_stages: [pre-commit, manual]
repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-json
        - id: check-added-large-files
          args: ['--maxkb=1000']
        - id: check-case-conflict
        - id: check-merge-conflict
        - id: requirements-txt-fixer

  # Python code formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: ["--fix", "--unsafe-fixes", "--exit-non-zero-on-fix"]
      # Formatter
      - id: ruff-format

  # Import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Remove unused imports and variables
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --expand-star-imports
          - --ignore-init-module-imports

  # Pylint for Pythonic code checks
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          - --rcfile=.pylintrc
          - --django-settings-module=crkva.settings
        exclude: ^.*/migrations/.*$

  # Django tests
  - repo: local
    hooks:
      - id: django-tests
        name: django tests
        entry: python crkva/manage.py test registar.tests --keepdb --verbosity=1
        language: system
        pass_filenames: false
        always_run: true
