
# Utilities
dbfread~=2.0.7
# Django and related packages
django~=6.0.1
django-admin-searchable-dropdown~=1.2
django-compressor~=4.4
django-environ~=0.11.0
django-extensions~=3.2.3
django-filter~=24.3
django-import-export~=4.2.0
django-model-utils~=5.0.0
django-phonenumber-field~=8.0.0
django-select2~=8.2.1
djangorestframework~=3.15.2
phonenumbers~=8.13.0
pillow==12.0.0

# Database
psycopg2-binary~=2.9.10
python-dateutil~=2.8.2
rcssmin~=1.1.0

# WSGI Server
uWSGI>=2.0.19.1,<2.1

# PDF Generation
WeasyPrint~=62.3
