# Django and related packages
django~=4.2.6
django-admin-searchable-dropdown~=1.2
django-environ~=0.9.0
django-import-export~=3.0.1
django-phonenumber-field~=7.3.0
django-select2~=8.1.2
djangorestframework~=3.14.0

# Database
psycopg2-binary~=2.9.5

# Utilities
python-dateutil~=2.8.2

# WSGI Server
uWSGI>=2.0.19.1,<2.1

# PDF Generation
WeasyPrint~=62.3
