--
-- PostgreSQL database dump
--

-- Dumped from database version 13.16
-- Dumped by pg_dump version 13.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: adrese; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.adrese (
    uid uuid NOT NULL,
    broj character varying(10) NOT NULL,
    dodatak character varying(10),
    postkod character varying(10),
    primedba text,
    ulica_id uuid NOT NULL
);


ALTER TABLE public.adrese OWNER TO devuser;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO devuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO devuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO devuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO devuser;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO devuser;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO devuser;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: crkvene_opstine; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.crkvene_opstine (
    uid uuid NOT NULL,
    naziv character varying(100) NOT NULL,
    eparhija_id uuid
);


ALTER TABLE public.crkvene_opstine OWNER TO devuser;

--
-- Name: dani; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.dani (
    dan integer NOT NULL
);


ALTER TABLE public.dani OWNER TO devuser;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO devuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO devuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO devuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO devuser;

--
-- Name: domacinstva; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.domacinstva (
    uid uuid NOT NULL,
    tel_fiksni character varying(255),
    tel_mobilni character varying(255),
    slavska_vodica boolean NOT NULL,
    uskrsnja_vodica boolean NOT NULL,
    primedba text,
    adresa_id uuid,
    domacin_id uuid NOT NULL,
    slava_id uuid
);


ALTER TABLE public.domacinstva OWNER TO devuser;

--
-- Name: drzave; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.drzave (
    uid uuid NOT NULL,
    naziv character varying(100) NOT NULL,
    izvorni_naziv character varying(100),
    postkod_regex character varying(128)
);


ALTER TABLE public.drzave OWNER TO devuser;

--
-- Name: eparhije; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.eparhije (
    uid uuid NOT NULL,
    nivo character varying(15) NOT NULL,
    naziv character varying(100) NOT NULL,
    sediste character varying(100) NOT NULL
);


ALTER TABLE public.eparhije OWNER TO devuser;

--
-- Name: hramovi; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.hramovi (
    uid uuid NOT NULL,
    naziv character varying(200) NOT NULL,
    adresa_id uuid
);


ALTER TABLE public.hramovi OWNER TO devuser;

--
-- Name: hramovi_parohija; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.hramovi_parohija (
    id bigint NOT NULL,
    hram_id uuid NOT NULL,
    parohija_id uuid NOT NULL
);


ALTER TABLE public.hramovi_parohija OWNER TO devuser;

--
-- Name: hramovi_parohija_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.hramovi_parohija ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hramovi_parohija_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: krstenja; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.krstenja (
    uid uuid NOT NULL,
    knjiga integer NOT NULL,
    strana integer NOT NULL,
    tekuci_broj integer NOT NULL,
    anagraf integer,
    datum date NOT NULL,
    vreme time without time zone NOT NULL,
    dete_majci integer NOT NULL,
    dete_bracno boolean NOT NULL,
    mana boolean NOT NULL,
    primedba text,
    blizanac_id uuid,
    dete_id uuid,
    hram_id uuid,
    kum_id uuid,
    majka_id uuid,
    otac_id uuid,
    svestenik_id integer
);


ALTER TABLE public.krstenja OWNER TO devuser;

--
-- Name: meseci; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.meseci (
    mesec integer NOT NULL,
    naziv character varying(10) NOT NULL
);


ALTER TABLE public.meseci OWNER TO devuser;

--
-- Name: mesta; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.mesta (
    uid uuid NOT NULL,
    naziv character varying(100) NOT NULL
);


ALTER TABLE public.mesta OWNER TO devuser;

--
-- Name: narodnosti; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.narodnosti (
    uid uuid NOT NULL,
    naziv character varying(255) NOT NULL
);


ALTER TABLE public.narodnosti OWNER TO devuser;

--
-- Name: opstine; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.opstine (
    uid uuid NOT NULL,
    naziv character varying(100) NOT NULL
);


ALTER TABLE public.opstine OWNER TO devuser;

--
-- Name: parohijani; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.parohijani (
    uid uuid NOT NULL,
    ime character varying NOT NULL,
    prezime character varying NOT NULL,
    mesto_rodjenja character varying NOT NULL,
    datum_rodjenja date NOT NULL,
    vreme_rodjenja time without time zone NOT NULL,
    pol character varying NOT NULL,
    devojacko_prezime character varying NOT NULL,
    adresa_id uuid,
    narodnost_id uuid,
    veroispovest_id uuid,
    zanimanje_id uuid
);


ALTER TABLE public.parohijani OWNER TO devuser;

--
-- Name: parohije; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.parohije (
    uid uuid NOT NULL,
    naziv character varying(200) NOT NULL,
    crkvena_opstina_id uuid
);


ALTER TABLE public.parohije OWNER TO devuser;

--
-- Name: slave; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.slave (
    uid uuid NOT NULL,
    naziv character varying NOT NULL,
    opsti_naziv character varying NOT NULL,
    dan_id integer,
    mesec_id integer
);


ALTER TABLE public.slave OWNER TO devuser;

--
-- Name: svestenici; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.svestenici (
    svestenik_id integer NOT NULL,
    ime character varying NOT NULL,
    prezime character varying NOT NULL,
    mesto_rodjenja character varying NOT NULL,
    datum_rodjenja date,
    zvanje character varying(30) NOT NULL,
    parohija_id uuid
);


ALTER TABLE public.svestenici OWNER TO devuser;

--
-- Name: ukucani; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.ukucani (
    id bigint NOT NULL,
    uloga character varying(255) NOT NULL,
    domacinstvo_id uuid,
    parohijan_id uuid NOT NULL
);


ALTER TABLE public.ukucani OWNER TO devuser;

--
-- Name: ukucani_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.ukucani ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ukucani_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ulice; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.ulice (
    uid uuid NOT NULL,
    naziv character varying(255) NOT NULL,
    drzava_id uuid NOT NULL,
    mesto_id uuid NOT NULL,
    opstina_id uuid NOT NULL,
    svestenik_id integer
);


ALTER TABLE public.ulice OWNER TO devuser;

--
-- Name: vencanja; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.vencanja (
    uid uuid NOT NULL,
    knjiga integer NOT NULL,
    strana integer NOT NULL,
    tekuci_broj integer NOT NULL,
    datum date NOT NULL,
    zenik_rb_brak integer NOT NULL,
    nevesta_rb_brak integer NOT NULL,
    datum_ispita date NOT NULL,
    parohija character varying NOT NULL,
    primedba text NOT NULL,
    hram_id uuid,
    kum_id uuid,
    kuma_id uuid,
    nevesta_id uuid,
    svekar_id uuid,
    svekrva_id uuid,
    svestenik_id integer,
    tast_id uuid,
    tasta_id uuid,
    zenik_id uuid
);


ALTER TABLE public.vencanja OWNER TO devuser;

--
-- Name: veroispovesti; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.veroispovesti (
    uid uuid NOT NULL,
    naziv character varying(255) NOT NULL
);


ALTER TABLE public.veroispovesti OWNER TO devuser;

--
-- Name: zanimanja; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.zanimanja (
    uid uuid NOT NULL,
    sifra character varying NOT NULL,
    naziv character varying(255) NOT NULL,
    zenski_naziv character varying
);


ALTER TABLE public.zanimanja OWNER TO devuser;

--
-- Name: adrese adrese_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.adrese
    ADD CONSTRAINT adrese_pkey PRIMARY KEY (uid);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: crkvene_opstine crkvene_opstine_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.crkvene_opstine
    ADD CONSTRAINT crkvene_opstine_pkey PRIMARY KEY (uid);


--
-- Name: dani dani_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.dani
    ADD CONSTRAINT dani_pkey PRIMARY KEY (dan);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: domacinstva domacinstva_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.domacinstva
    ADD CONSTRAINT domacinstva_pkey PRIMARY KEY (uid);


--
-- Name: drzave drzave_naziv_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.drzave
    ADD CONSTRAINT drzave_naziv_key UNIQUE (naziv);


--
-- Name: drzave drzave_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.drzave
    ADD CONSTRAINT drzave_pkey PRIMARY KEY (uid);


--
-- Name: eparhije eparhije_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.eparhije
    ADD CONSTRAINT eparhije_pkey PRIMARY KEY (uid);


--
-- Name: hramovi_parohija hramovi_parohija_hram_id_parohija_id_444c255e_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.hramovi_parohija
    ADD CONSTRAINT hramovi_parohija_hram_id_parohija_id_444c255e_uniq UNIQUE (hram_id, parohija_id);


--
-- Name: hramovi_parohija hramovi_parohija_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.hramovi_parohija
    ADD CONSTRAINT hramovi_parohija_pkey PRIMARY KEY (id);


--
-- Name: hramovi hramovi_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.hramovi
    ADD CONSTRAINT hramovi_pkey PRIMARY KEY (uid);


--
-- Name: krstenja krstenja_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.krstenja
    ADD CONSTRAINT krstenja_pkey PRIMARY KEY (uid);


--
-- Name: meseci meseci_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.meseci
    ADD CONSTRAINT meseci_pkey PRIMARY KEY (mesec);


--
-- Name: mesta mesta_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.mesta
    ADD CONSTRAINT mesta_pkey PRIMARY KEY (uid);


--
-- Name: narodnosti narodnosti_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.narodnosti
    ADD CONSTRAINT narodnosti_pkey PRIMARY KEY (uid);


--
-- Name: opstine opstine_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.opstine
    ADD CONSTRAINT opstine_pkey PRIMARY KEY (uid);


--
-- Name: parohijani parohijani_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.parohijani
    ADD CONSTRAINT parohijani_pkey PRIMARY KEY (uid);


--
-- Name: parohije parohije_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.parohije
    ADD CONSTRAINT parohije_pkey PRIMARY KEY (uid);


--
-- Name: slave slave_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.slave
    ADD CONSTRAINT slave_pkey PRIMARY KEY (uid);


--
-- Name: svestenici svestenici_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.svestenici
    ADD CONSTRAINT svestenici_pkey PRIMARY KEY (svestenik_id);


--
-- Name: ukucani ukucani_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.ukucani
    ADD CONSTRAINT ukucani_pkey PRIMARY KEY (id);


--
-- Name: ulice ulice_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.ulice
    ADD CONSTRAINT ulice_pkey PRIMARY KEY (uid);


--
-- Name: vencanja vencanja_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_pkey PRIMARY KEY (uid);


--
-- Name: veroispovesti veroispovesti_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.veroispovesti
    ADD CONSTRAINT veroispovesti_pkey PRIMARY KEY (uid);


--
-- Name: zanimanja zanimanja_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.zanimanja
    ADD CONSTRAINT zanimanja_pkey PRIMARY KEY (uid);


--
-- Name: adrese_ulica_id_ce870544; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX adrese_ulica_id_ce870544 ON public.adrese USING btree (ulica_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: crkvene_opstine_eparhija_id_415e901c; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX crkvene_opstine_eparhija_id_415e901c ON public.crkvene_opstine USING btree (eparhija_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: domacinstva_adresa_id_11edae1d; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX domacinstva_adresa_id_11edae1d ON public.domacinstva USING btree (adresa_id);


--
-- Name: domacinstva_domacin_id_b9b38d84; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX domacinstva_domacin_id_b9b38d84 ON public.domacinstva USING btree (domacin_id);


--
-- Name: domacinstva_slava_id_a91b7814; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX domacinstva_slava_id_a91b7814 ON public.domacinstva USING btree (slava_id);


--
-- Name: drzave_naziv_1922a256_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX drzave_naziv_1922a256_like ON public.drzave USING btree (naziv varchar_pattern_ops);


--
-- Name: hramovi_adresa_id_53c25d5e; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX hramovi_adresa_id_53c25d5e ON public.hramovi USING btree (adresa_id);


--
-- Name: hramovi_parohija_hram_id_571c68b5; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX hramovi_parohija_hram_id_571c68b5 ON public.hramovi_parohija USING btree (hram_id);


--
-- Name: hramovi_parohija_parohija_id_71d5a55c; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX hramovi_parohija_parohija_id_71d5a55c ON public.hramovi_parohija USING btree (parohija_id);


--
-- Name: krstenja_blizanac_id_3f0c72cf; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX krstenja_blizanac_id_3f0c72cf ON public.krstenja USING btree (blizanac_id);


--
-- Name: krstenja_dete_id_e9edc169; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX krstenja_dete_id_e9edc169 ON public.krstenja USING btree (dete_id);


--
-- Name: krstenja_hram_id_342145ce; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX krstenja_hram_id_342145ce ON public.krstenja USING btree (hram_id);


--
-- Name: krstenja_kum_id_43d0ffbf; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX krstenja_kum_id_43d0ffbf ON public.krstenja USING btree (kum_id);


--
-- Name: krstenja_majka_id_c7c97841; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX krstenja_majka_id_c7c97841 ON public.krstenja USING btree (majka_id);


--
-- Name: krstenja_otac_id_318cd58e; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX krstenja_otac_id_318cd58e ON public.krstenja USING btree (otac_id);


--
-- Name: krstenja_svestenik_id_57e81a9f; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX krstenja_svestenik_id_57e81a9f ON public.krstenja USING btree (svestenik_id);


--
-- Name: parohijani_adresa_id_035f49ad; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX parohijani_adresa_id_035f49ad ON public.parohijani USING btree (adresa_id);


--
-- Name: parohijani_narodnost_id_f4556830; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX parohijani_narodnost_id_f4556830 ON public.parohijani USING btree (narodnost_id);


--
-- Name: parohijani_veroispovest_id_bfb8f26e; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX parohijani_veroispovest_id_bfb8f26e ON public.parohijani USING btree (veroispovest_id);


--
-- Name: parohijani_zanimanje_id_f7dc906c; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX parohijani_zanimanje_id_f7dc906c ON public.parohijani USING btree (zanimanje_id);


--
-- Name: parohije_crkvena_opstina_id_b46a2014; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX parohije_crkvena_opstina_id_b46a2014 ON public.parohije USING btree (crkvena_opstina_id);


--
-- Name: slave_dan_id_36bd6e6f; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX slave_dan_id_36bd6e6f ON public.slave USING btree (dan_id);


--
-- Name: slave_mesec_id_e4ef772b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX slave_mesec_id_e4ef772b ON public.slave USING btree (mesec_id);


--
-- Name: svestenici_parohija_id_bf17aff0; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX svestenici_parohija_id_bf17aff0 ON public.svestenici USING btree (parohija_id);


--
-- Name: ukucani_domacinstvo_id_b07db84d; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX ukucani_domacinstvo_id_b07db84d ON public.ukucani USING btree (domacinstvo_id);


--
-- Name: ukucani_parohijan_id_9b1a8c0b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX ukucani_parohijan_id_9b1a8c0b ON public.ukucani USING btree (parohijan_id);


--
-- Name: ulice_drzava_id_346923ca; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX ulice_drzava_id_346923ca ON public.ulice USING btree (drzava_id);


--
-- Name: ulice_mesto_id_83d38873; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX ulice_mesto_id_83d38873 ON public.ulice USING btree (mesto_id);


--
-- Name: ulice_opstina_id_92f787f3; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX ulice_opstina_id_92f787f3 ON public.ulice USING btree (opstina_id);


--
-- Name: ulice_svestenik_id_4aee94ce; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX ulice_svestenik_id_4aee94ce ON public.ulice USING btree (svestenik_id);


--
-- Name: vencanja_hram_id_04fb7732; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_hram_id_04fb7732 ON public.vencanja USING btree (hram_id);


--
-- Name: vencanja_kum_id_85ff1bbe; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_kum_id_85ff1bbe ON public.vencanja USING btree (kum_id);


--
-- Name: vencanja_kuma_id_31015585; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_kuma_id_31015585 ON public.vencanja USING btree (kuma_id);


--
-- Name: vencanja_nevesta_id_7fd884d0; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_nevesta_id_7fd884d0 ON public.vencanja USING btree (nevesta_id);


--
-- Name: vencanja_svekar_id_534123e0; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_svekar_id_534123e0 ON public.vencanja USING btree (svekar_id);


--
-- Name: vencanja_svekrva_id_7eab99c6; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_svekrva_id_7eab99c6 ON public.vencanja USING btree (svekrva_id);


--
-- Name: vencanja_svestenik_id_32ebeebc; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_svestenik_id_32ebeebc ON public.vencanja USING btree (svestenik_id);


--
-- Name: vencanja_tast_id_4273ba0d; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_tast_id_4273ba0d ON public.vencanja USING btree (tast_id);


--
-- Name: vencanja_tasta_id_4e447c32; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_tasta_id_4e447c32 ON public.vencanja USING btree (tasta_id);


--
-- Name: vencanja_zenik_id_d42876c5; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX vencanja_zenik_id_d42876c5 ON public.vencanja USING btree (zenik_id);


--
-- Name: adrese adrese_ulica_id_ce870544_fk_ulice_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.adrese
    ADD CONSTRAINT adrese_ulica_id_ce870544_fk_ulice_uid FOREIGN KEY (ulica_id) REFERENCES public.ulice(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: crkvene_opstine crkvene_opstine_eparhija_id_415e901c_fk_eparhije_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.crkvene_opstine
    ADD CONSTRAINT crkvene_opstine_eparhija_id_415e901c_fk_eparhije_uid FOREIGN KEY (eparhija_id) REFERENCES public.eparhije(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: domacinstva domacinstva_adresa_id_11edae1d_fk_adrese_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.domacinstva
    ADD CONSTRAINT domacinstva_adresa_id_11edae1d_fk_adrese_uid FOREIGN KEY (adresa_id) REFERENCES public.adrese(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: domacinstva domacinstva_domacin_id_b9b38d84_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.domacinstva
    ADD CONSTRAINT domacinstva_domacin_id_b9b38d84_fk_parohijani_uid FOREIGN KEY (domacin_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: domacinstva domacinstva_slava_id_a91b7814_fk_slave_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.domacinstva
    ADD CONSTRAINT domacinstva_slava_id_a91b7814_fk_slave_uid FOREIGN KEY (slava_id) REFERENCES public.slave(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hramovi hramovi_adresa_id_53c25d5e_fk_adrese_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.hramovi
    ADD CONSTRAINT hramovi_adresa_id_53c25d5e_fk_adrese_uid FOREIGN KEY (adresa_id) REFERENCES public.adrese(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hramovi_parohija hramovi_parohija_hram_id_571c68b5_fk_hramovi_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.hramovi_parohija
    ADD CONSTRAINT hramovi_parohija_hram_id_571c68b5_fk_hramovi_uid FOREIGN KEY (hram_id) REFERENCES public.hramovi(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hramovi_parohija hramovi_parohija_parohija_id_71d5a55c_fk_parohije_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.hramovi_parohija
    ADD CONSTRAINT hramovi_parohija_parohija_id_71d5a55c_fk_parohije_uid FOREIGN KEY (parohija_id) REFERENCES public.parohije(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: krstenja krstenja_blizanac_id_3f0c72cf_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.krstenja
    ADD CONSTRAINT krstenja_blizanac_id_3f0c72cf_fk_parohijani_uid FOREIGN KEY (blizanac_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: krstenja krstenja_dete_id_e9edc169_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.krstenja
    ADD CONSTRAINT krstenja_dete_id_e9edc169_fk_parohijani_uid FOREIGN KEY (dete_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: krstenja krstenja_hram_id_342145ce_fk_hramovi_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.krstenja
    ADD CONSTRAINT krstenja_hram_id_342145ce_fk_hramovi_uid FOREIGN KEY (hram_id) REFERENCES public.hramovi(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: krstenja krstenja_kum_id_43d0ffbf_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.krstenja
    ADD CONSTRAINT krstenja_kum_id_43d0ffbf_fk_parohijani_uid FOREIGN KEY (kum_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: krstenja krstenja_majka_id_c7c97841_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.krstenja
    ADD CONSTRAINT krstenja_majka_id_c7c97841_fk_parohijani_uid FOREIGN KEY (majka_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: krstenja krstenja_otac_id_318cd58e_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.krstenja
    ADD CONSTRAINT krstenja_otac_id_318cd58e_fk_parohijani_uid FOREIGN KEY (otac_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: krstenja krstenja_svestenik_id_57e81a9f_fk_svestenici_svestenik_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.krstenja
    ADD CONSTRAINT krstenja_svestenik_id_57e81a9f_fk_svestenici_svestenik_id FOREIGN KEY (svestenik_id) REFERENCES public.svestenici(svestenik_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: parohijani parohijani_adresa_id_035f49ad_fk_adrese_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.parohijani
    ADD CONSTRAINT parohijani_adresa_id_035f49ad_fk_adrese_uid FOREIGN KEY (adresa_id) REFERENCES public.adrese(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: parohijani parohijani_narodnost_id_f4556830_fk_narodnosti_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.parohijani
    ADD CONSTRAINT parohijani_narodnost_id_f4556830_fk_narodnosti_uid FOREIGN KEY (narodnost_id) REFERENCES public.narodnosti(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: parohijani parohijani_veroispovest_id_bfb8f26e_fk_veroispovesti_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.parohijani
    ADD CONSTRAINT parohijani_veroispovest_id_bfb8f26e_fk_veroispovesti_uid FOREIGN KEY (veroispovest_id) REFERENCES public.veroispovesti(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: parohijani parohijani_zanimanje_id_f7dc906c_fk_zanimanja_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.parohijani
    ADD CONSTRAINT parohijani_zanimanje_id_f7dc906c_fk_zanimanja_uid FOREIGN KEY (zanimanje_id) REFERENCES public.zanimanja(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: parohije parohije_crkvena_opstina_id_b46a2014_fk_crkvene_opstine_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.parohije
    ADD CONSTRAINT parohije_crkvena_opstina_id_b46a2014_fk_crkvene_opstine_uid FOREIGN KEY (crkvena_opstina_id) REFERENCES public.crkvene_opstine(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: slave slave_dan_id_36bd6e6f_fk_dani_dan; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.slave
    ADD CONSTRAINT slave_dan_id_36bd6e6f_fk_dani_dan FOREIGN KEY (dan_id) REFERENCES public.dani(dan) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: slave slave_mesec_id_e4ef772b_fk_meseci_mesec; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.slave
    ADD CONSTRAINT slave_mesec_id_e4ef772b_fk_meseci_mesec FOREIGN KEY (mesec_id) REFERENCES public.meseci(mesec) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: svestenici svestenici_parohija_id_bf17aff0_fk_parohije_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.svestenici
    ADD CONSTRAINT svestenici_parohija_id_bf17aff0_fk_parohije_uid FOREIGN KEY (parohija_id) REFERENCES public.parohije(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ukucani ukucani_domacinstvo_id_b07db84d_fk_domacinstva_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.ukucani
    ADD CONSTRAINT ukucani_domacinstvo_id_b07db84d_fk_domacinstva_uid FOREIGN KEY (domacinstvo_id) REFERENCES public.domacinstva(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ukucani ukucani_parohijan_id_9b1a8c0b_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.ukucani
    ADD CONSTRAINT ukucani_parohijan_id_9b1a8c0b_fk_parohijani_uid FOREIGN KEY (parohijan_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ulice ulice_drzava_id_346923ca_fk_drzave_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.ulice
    ADD CONSTRAINT ulice_drzava_id_346923ca_fk_drzave_uid FOREIGN KEY (drzava_id) REFERENCES public.drzave(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ulice ulice_mesto_id_83d38873_fk_mesta_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.ulice
    ADD CONSTRAINT ulice_mesto_id_83d38873_fk_mesta_uid FOREIGN KEY (mesto_id) REFERENCES public.mesta(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ulice ulice_opstina_id_92f787f3_fk_opstine_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.ulice
    ADD CONSTRAINT ulice_opstina_id_92f787f3_fk_opstine_uid FOREIGN KEY (opstina_id) REFERENCES public.opstine(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ulice ulice_svestenik_id_4aee94ce_fk_svestenici_svestenik_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.ulice
    ADD CONSTRAINT ulice_svestenik_id_4aee94ce_fk_svestenici_svestenik_id FOREIGN KEY (svestenik_id) REFERENCES public.svestenici(svestenik_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_hram_id_04fb7732_fk_hramovi_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_hram_id_04fb7732_fk_hramovi_uid FOREIGN KEY (hram_id) REFERENCES public.hramovi(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_kum_id_85ff1bbe_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_kum_id_85ff1bbe_fk_parohijani_uid FOREIGN KEY (kum_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_kuma_id_31015585_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_kuma_id_31015585_fk_parohijani_uid FOREIGN KEY (kuma_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_nevesta_id_7fd884d0_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_nevesta_id_7fd884d0_fk_parohijani_uid FOREIGN KEY (nevesta_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_svekar_id_534123e0_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_svekar_id_534123e0_fk_parohijani_uid FOREIGN KEY (svekar_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_svekrva_id_7eab99c6_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_svekrva_id_7eab99c6_fk_parohijani_uid FOREIGN KEY (svekrva_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_svestenik_id_32ebeebc_fk_svestenici_svestenik_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_svestenik_id_32ebeebc_fk_svestenici_svestenik_id FOREIGN KEY (svestenik_id) REFERENCES public.svestenici(svestenik_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_tast_id_4273ba0d_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_tast_id_4273ba0d_fk_parohijani_uid FOREIGN KEY (tast_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_tasta_id_4e447c32_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_tasta_id_4e447c32_fk_parohijani_uid FOREIGN KEY (tasta_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vencanja vencanja_zenik_id_d42876c5_fk_parohijani_uid; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.vencanja
    ADD CONSTRAINT vencanja_zenik_id_d42876c5_fk_parohijani_uid FOREIGN KEY (zenik_id) REFERENCES public.parohijani(uid) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

