{% load marker_filter %}
{% for svestenik in svestenici %}
<li class="stavka">
    <a href="{% url 'svestenik_detail' uid=svestenik.uid %}" class="stavka-veza">
        <span class="stavka__primary">{{ svestenik.ime|markiraj:upit }} {{ svestenik.prezime|markiraj:upit }}</span>
        <span class="stavka__secondary">{{ svestenik.zvanje }}{% if svestenik.parohija %} &middot; {{ svestenik.parohija }}{% endif %}</span>
    </a>
    <a href="{% url 'svestenik_pdf' uid=svestenik.uid %}" target="_blank" class="button button--primary" data-tooltip="Штампај"><i class="fa-solid fa-print"></i></a>
</li>
{% empty %}
{% if page_obj.number == 1 %}<li class="spisak__empty">Нема уноса свештеника у бази.</li>{% endif %}
{% endfor %}
{% if page_obj.has_next %}<div class="next-page-marker" data-next-page="{{ page_obj.next_page_number }}"></div>{% endif %}
