{% extends "base.html" %}

{% block content %}
  <form method="post" class="form form--single-column">
    {% csrf_token %}
    <div class="u-page-header">
      <h1 class="u-page-title">Вероисповест</h1>
      <button class="button button--primary" type="submit" title="Сачувај">
        <i class="fa-solid fa-floppy-disk" style="margin-right: 6px;"></i> Сачувај
      </button>
    </div>

    {% include 'registar/_form_errors.html' %}

    <fieldset class="form-section">
      <legend><i class="fa-solid fa-cross"></i> Подаци</legend>
      {% for field in form %}
        <div class="form-row">
          <div class="form-field">
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}<div class="error-text">{{ field.errors|join:" " }}</div>{% endif %}
            {% if field.help_text %}<div class="help-text">{{ field.help_text }}</div>{% endif %}
          </div>
        </div>
      {% endfor %}
    </fieldset>
  </form>
{% endblock %}
