{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 style="horizontal-align: center">Храм Свете Петке</h1>

    {% comment %} <form action="{% url 'search_view' %}" method="get">
        <input type="text" name="query" placeholder="Претрага...">
        <button type="submit">Search</button>
    </form> {% endcomment %}
    <div class="slava-reminders">
        {% for slava in upcoming_slavas %}
            <div class="slava-reminder">
                <!-- Display details of the slava -->
                {{ slava }}
            </div>
        {% empty %}
            <p>No upcoming Slavas.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
