{% extends "base.html" %}

{% block content %}
    <div style='position: relative;'>
        <div class="row" style='display: flex; margin-bottom: 10px; align-items: center;'>
            <h1 style="margin-right: auto;">Свештеник</h1>
            <a href="{% url 'svestenik_pdf' svestenik.uid %}" target="_blank" style="text-decoration: none;">
                <button class="red-button" type="button">Штампа</button>
            </a>
        </div>
    </div>

    <h1>{{ svestenik.ime }}</h1>
    <p>Звање: {{ svestenik.zvanje }}</p>
    <p>Парохија: {{ svestenik.parohija }}</p>
{% endblock %}
