{% extends "base.html" %}
{% block content %}

<div>
    <div style='position: relative;'>
        <div class="row" style='display: flex; margin-bottom: 10px; align-items: center;'>
            <h1 style="margin-right: auto;">Парохијан</h1>
            <a href="{% url 'parohijan_pdf' parohijan.uid %}" target="_blank" style="text-decoration: none;">
                <button class="dugme-crveno" type="button">Штампа</button>
            </a>
        </div>
    </div>

    <h2>{{ parohijan.ime }} {{ parohijan.prezime }}</h2>
    {% if parohijan.devojacko_prezime %}
        <p>Девојачко презиме: {{ parohijan.devojacko_prezime }}</p>
    {% endif %}
    <p>Датум рођења: {{ parohijan.datum_rodjenja }}</p>
    <p>Место рођења: {{ parohijan.mesto_rodjenja }}</p>
    <p>Пол: {{ parohijan.pol }}</p>
    <p>Занимање: {{ parohijan.zanimanje }}</p>
    <p>Вероисповест: {{ parohijan.veroispovest }}</p>
    <p>Народност: {{ parohijan.narodnost }}</p>
    <p>Адреса: {{ parohijan.adresa }}</p>
</div>
{% endblock %}
