{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'registar/print/krstenica.css' %}">
{% endblock %}
{% load julian_dates %}

{% block content %}

<div class="u-page-header">
    <a href="#" class="back-button" onclick="history.back(); return false;" aria-label="Назад" title="Назад">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h1 class="u-page-title">Крштеница</h1>
    <a href="{% url 'krstenje_pdf' krstenje.uid %}" target="_blank" class="u-link-primary">
        <button class="button button--primary" type="button" title="Штампај">
          <i class="fa-solid fa-print u-mr-2"></i> Штампај
        </button>
    </a>
</div>

<div class="krstenica">
    <div class="krstenica-frame">
        <!-- Knjiga/Strana/Broj -->
        <div class="krst-section-knjiga">
            <div>{{ krstenje.knjiga }}</div>
            <div>{{ krstenje.strana }}</div>
            <div>{{ krstenje.broj }}</div>
        </div>

        <!-- Eparhije -->
        <div class="krst-section-eparhija">
            БЕОГРАДСКО - КАРЛОВАЧКЕ
        </div>

        <!-- Hram/mesto/godina -->
        <div class="krst-section-hram">
            <div class="krst-section-hram__hram">{{ krstenje.hram }}</div>
            <div class="krst-section-hram__mesto">{{ krstenje.mesto }}у</div>
            <div class="krst-section-hram__godina">{{ krstenje.datum|date:"y" }}</div>
        </div>

        <!-- Field 1: Godina rodjenja -->
        <div class="krst-absolute-field krst-ls krst-field1">
            {{ krstenje.datum_rodjenja|julian_date }}, {{ krstenje.vreme_rodjenja }} часова
        </div>

        <!-- Field 2: Mesto rodjenja -->
        <div class="krst-absolute-field krst-field2">
            {{ krstenje.mesto_rodjenja }}
        </div>

        <!-- Field 3: Godina krstenja -->
        <div class="krst-absolute-field krst-ls krst-field3">
            {{ krstenje.datum|julian_date|default_if_none:"" }}{% if krstenje.vreme is not none %}, {{ krstenje.vreme }} часова{% endif %}
        </div>

        <!-- Field 4: Mesto krstenja -->
        <div class="krst-absolute-field krst-field4">
            {{ krstenje.mesto }}, {{ krstenje.hram }}
        </div>

        <!-- Field 5: Ime i pol -->
        <div class="krst-absolute-field krst-field5">
            {{ krstenje.ime_deteta }}{{ krstenje.gradjansko_ime_deteta}}, {{ krstenje.get_pol_deteta_display }}
        </div>

        <!-- Field 6: Roditelji -->
        <div class="krst-absolute-field krst-text-sm krst-lh krst-field6">
            {{ krstenje.ime_oca }} {{ krstenje.prezime_oca }}, {{ krstenje.zanimanje_oca|lower }} и<br>
            {{ krstenje.ime_majke }} {{ krstenje.prezime_majke }}, {{ krstenje.zanimanje_majke|lower }}<br>
            {{ krstenje.mesto }}, {{ krstenje.adresa_deteta_ulica}} {{ krstenje.adresa_deteta_broj}}<br>
            {{krstenje.veroispovest_oca }}
        </div>

        <!-- Field 7: Dete po redu -->
        <div class="krst-absolute-right krst-ls krst-text-md krst-field7">
            {{ krstenje.dete_po_redu_po_majci }}
        </div>

        <!-- Field 8: Bracno -->
        <div class="krst-absolute-right krst-ls krst-text-md krst-field8">
            {{ krstenje.dete_vanbracno|yesno:"није,јесте" }}
        </div>

        <!-- Field 9: Blizanac -->
        <div class="krst-absolute-right krst-ls krst-text-md krst-field9">
            {{ krstenje.dete_blizanac|yesno:"јесте,није" }}
        </div>

        <!-- Field 10: Telesni nedostatak -->
        <div class="krst-absolute-right krst-ls krst-text-md krst-field10">
            {{ krstenje.dete_sa_telesnom_manom|yesno:"јесте,није,непознато" }}
        </div>

        <!-- Field 11: Svestenik -->
        <div class="krst-absolute-field krst-text-md krst-ls krst-field11">
            {{ krstenje.svestenik|default_if_none:"" }}
        </div>

        <!-- Field 12: Kum -->
        <div class="krst-absolute-field krst-lh krst-field12">
            {{ krstenje.ime_kuma }}, {{ krstenje.zanimanje_kuma }}<br>
            {{ krstenje.adresa_kuma_mesto }}
        </div>

        <!-- Field 13: Domovnik (empty) -->
        <div class="krst-absolute-field krst-field13">
            <!-- Empty -->
        </div>

        <!-- Field 14: Primedba -->
        <div class="krst-absolute-field krst-field14">
            {{ krstenje.primedba|default_if_none:"" }}
        </div>

        <!-- Bottom section -->
        <div class="krst-section-bottom">
            <div class="krst-section-bottom__datum">{% now "d.m" %}</div>
            <div class="krst-section-bottom__godina">{% now "y" %}</div>
            <div class="krst-section-bottom__parohija">
                {% if krstenje.svestenik %}{{krstenje.svestenik.parohija}}{% endif %}
            </div>
            <div class="krst-section-bottom__hram">
                при Храму Свете Петке
            </div>
        </div>

        <div class="krst-section-beograd">
            Београду
        </div>
    </div>
</div>

{% endblock %}
