{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'registar/print/krstenica.css' %}">
{% endblock %}
{% load julian_dates %}

{% block content %}

<div class="u-page-header">
    <a href="#" class="back-button" onclick="history.back(); return false;" aria-label="Назад" title="Назад">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h1 class="u-page-title">Крштеница</h1>
    <a href="{% url 'krstenje_pdf' krstenje.uid %}" target="_blank" class="u-link-primary">
        <button class="button button--primary" type="button" title="Штампај">
          <i class="fa-solid fa-print u-mr-2"></i> Штампај
        </button>
    </a>
</div>

<div class="krstenica">
    <div class="krstenica-frame">
        <!-- Knjiga/Strana/Broj -->
        <div style="position: absolute; top: var(--krst-knjiga-top); right: 77%; text-align: right; width: 15%;">
            <div style="margin-bottom: 2mm;">{{ krstenje.knjiga }}</div>
            <div style="margin-bottom: 2mm;">{{ krstenje.strana }}</div>
            <div>{{ krstenje.broj }}</div>
        </div>

        <!-- Eparhije -->
        <div style="position: absolute; top: var(--krst-eparhija-top); left: 12.2%;">
            БЕОГРАДСКО - КАРЛОВАЧКЕ
        </div>

        <!-- Hram/mesto/godina -->
        <div style="position: absolute; top: var(--krst-hram-top); left: 12.2%; right: 5%; display: flex;">
            <div style="width: 45%;">{{ krstenje.hram }}</div>
            <div style="width: 30%; padding-left: 6%; letter-spacing: 1px;">{{ krstenje.mesto }}у</div>
            <div style="width: 12%;">{{ krstenje.datum|date:"y" }}</div>
        </div>

        <!-- Field 1: Godina rodjenja -->
        <div class="krst-absolute-field krst-ls" style="top: var(--krst-field1-top);">
            {{ krstenje.datum_rodjenja|julian_date }}, {{ krstenje.vreme_rodjenja }} часова
        </div>

        <!-- Field 2: Mesto rodjenja -->
        <div class="krst-absolute-field" style="top: var(--krst-field2-top);">
            {{ krstenje.mesto_rodjenja }}
        </div>

        <!-- Field 3: Godina krstenja -->
        <div class="krst-absolute-field krst-ls" style="top: var(--krst-field3-top);">
            {{ krstenje.datum|julian_date|default_if_none:"" }}{% if krstenje.vreme is not none %}, {{ krstenje.vreme }} часова{% endif %}
        </div>

        <!-- Field 4: Mesto krstenja -->
        <div class="krst-absolute-field" style="top: var(--krst-field4-top);">
            {{ krstenje.mesto }}, {{ krstenje.hram }}
        </div>

        <!-- Field 5: Ime i pol -->
        <div class="krst-absolute-field" style="top: var(--krst-field5-top);">
            {{ krstenje.ime_deteta }}{{ krstenje.gradjansko_ime_deteta}}, {{ krstenje.get_pol_deteta_display }}
        </div>

        <!-- Field 6: Roditelji -->
        <div class="krst-absolute-field krst-text-sm krst-lh" style="top: var(--krst-field6-top);">
            {{ krstenje.ime_oca }} {{ krstenje.prezime_oca }}, {{ krstenje.zanimanje_oca|lower }} и<br>
            {{ krstenje.ime_majke }} {{ krstenje.prezime_majke }}, {{ krstenje.zanimanje_majke|lower }}<br>
            {{ krstenje.mesto }}, {{ krstenje.adresa_deteta_ulica}} {{ krstenje.adresa_deteta_broj}}<br>
            {{krstenje.veroispovest_oca }}
        </div>

        <!-- Field 7: Dete po redu -->
        <div class="krst-absolute-right krst-ls krst-text-md" style="top: var(--krst-field7-top);">
            {{ krstenje.dete_po_redu_po_majci }}
        </div>

        <!-- Field 8: Bracno -->
        <div class="krst-absolute-right krst-ls krst-text-md" style="top: var(--krst-field8-top);">
            {{ krstenje.dete_vanbracno|yesno:"није,јесте" }}
        </div>

        <!-- Field 9: Blizanac -->
        <div class="krst-absolute-right krst-ls krst-text-md" style="top: var(--krst-field9-top);">
            {{ krstenje.dete_blizanac|yesno:"јесте,није" }}
        </div>

        <!-- Field 10: Telesni nedostatak -->
        <div class="krst-absolute-right krst-ls krst-text-md" style="top: var(--krst-field10-top);">
            {{ krstenje.dete_sa_telesnom_manom|yesno:"јесте,није,непознато" }}
        </div>

        <!-- Field 11: Svestenik -->
        <div class="krst-absolute-field krst-text-md krst-ls" style="top: var(--krst-field11-top);">
            {{ krstenje.svestenik|default_if_none:"" }}
        </div>

        <!-- Field 12: Kum -->
        <div class="krst-absolute-field krst-lh" style="top: var(--krst-field12-top);">
            {{ krstenje.ime_kuma }}, {{ krstenje.zanimanje_kuma }}<br>
            {{ krstenje.adresa_kuma_mesto }}
        </div>

        <!-- Field 13: Domovnik (empty) -->
        <div class="krst-absolute-field" style="top: var(--krst-field13-top);">
            <!-- Empty -->
        </div>

        <!-- Field 14: Primedba -->
        <div class="krst-absolute-field" style="top: var(--krst-field14-top);">
            {{ krstenje.primedba|default_if_none:"" }}
        </div>

        <!-- Bottom section -->
        <div style="position: absolute; top: var(--krst-bottom-top); left: 5%; right: 5%; display: flex;">
            <div style="width: 12%; letter-spacing: 1px;">{% now "d.m" %}</div>
            <div style="width: 11%;">{% now "y" %}</div>
            <div style="width: 36%; text-align: right; font-size: 12pt; letter-spacing: 1px; padding-right: 5%;">
                {% if krstenje.svestenik %}{{krstenje.svestenik.parohija}}{% endif %}
            </div>
            <div style="width: 36%; text-align: right; font-size: 12pt; letter-spacing: 1px; padding-right: 8%;">
                при Храму Свете Петке
            </div>
        </div>

        <div style="position: absolute; top: calc(var(--krst-bottom-top) + 2%); left: 5%; letter-spacing: 1px;">
            Београду
        </div>
    </div>
</div>

{% endblock %}
