<!-- templates/krstenja_list.html -->

{% extends "base.html" %}

{% block content %}
    <h1>Списак крштења</h1>
    <form method="get" action="">
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for entry in krstenja_entries %}
            <li>
                {{ entry.datum }}: {{ entry.dete }}
                <a href="{% url 'krstenje_pdf' uid=entry.uid %}" target="_blank">
                    <button type="button">Print</button>
                </a>                
            </li>
        {% empty %}
            <li>Нема уноса крштењау бази.</li>
        {% endfor %}
    </ul>
{% endblock %}
