{% load static %}
{% load julian_dates %}
<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{% static 'registar/base/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'registar/pages/print.css' %}">
    <title>
      Венчаница {{ vencanje.knjiga }}.{{ vencanje.strana }}.{{ vencanje.tekuci_broj }}
    </title>
  </head>
  <body>
    <div class="frame" style="width: 185mm; margin-left: 14mm;">
      <div class="row" style="height: 35mm;">
        <div style="width: 23%; padding-bottom: 5mm;">
          <div class="row" style="width: 100%; justify-content: flex-end; padding-right: 7%; height: 7mm">
            {{ vencanje.knjiga }}
          </div>
          <div class="row" style="width: 100%; justify-content: flex-end; padding-right: 7%; height: 7mm">
            {{ vencanje.strana }}
          </div>
          <div class="row" style="width: 100%; justify-content: flex-end; padding-right: 7%; height: 7mm">
            {{ vencanje.tekuci_broj }}
          </div>
        </div>
        <div style="width: 50%;"></div>
        <div style="width: 28%;"></div>
      </div>
      <div class="row" style="height: 8mm; justify-content: flex-end; padding-right: 25%; padding-top: 0.5%;">епархије</div>
      <div class="row" style="height: 6mm;">
        <div style="width: 45%; padding-left: 5%; padding-bottom: 1%;">
          БЕОГРАДСКО - КАРЛОВАЧКЕ
        </div>
        <div style="width: 21%;"></div>
        <div style="width: 36%; justify-content: flex-end; padding-bottom: 1%;">
          {{ vencanje.hram }}
        </div>
      </div>
      <div class="row" style="height: 9mm">
        <div style="width: 50%; justify-content: center; padding-left: 20%; padding-bottom: 3%">
          {{ vencanje.mesto_zenika }}
        </div>
        <div style="width: 45%; padding-left: 6%; padding-bottom: 3%">
          {{ vencanje.datum|date:"y" }}
        </div>
      </div>
      <div class="row" style="height: 8mm;">
        <!-- 1. Ime, prezime i zanimanje vencanih, mesto stanovanja, vera i narodnost a) zenika -->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 9pt; justify-content: center; line-height: 10px;">
          {{ vencanje.ime_zenika }} {{ vencanje.prezime_zenika }}, {{ vencanje.zanimanje_zenika|lower }},</br>
          <small>{{ vencanje.adresa_zenika }}</small></br>
          <small>{{ vencanje.veroispovest_zenika|lower }} {{ vencanje.narodnost_zenika|lower }}</small>
        </div>
      </div>
      <!-- <div class="row" style="height: 1mm;"></div> -->
      <div class="row" style="height: 9mm;">
        <!-- 1. Ime, prezime i zanimanje vencanih, mesto stanovanja, vera i narodnost b) neveste -->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 9pt; justify-content: center; line-height: 10px;">
          {{ vencanje.ime_neveste }} {{ vencanje.prezime_neveste }}, {{ vencanje.zanimanje_neveste|lower }},</br>
          <small>{{ vencanje.adresa_neveste }}</small></br>
          <small>{{ vencanje.veroispovest_neveste|lower }} {{ vencanje.narodnost_neveste|lower }}</small>
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 2. Ime, prezime, zanimanje i mesto stanovanja roditelja vencanih a) zenika -->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 9pt; justify-content: center;">
          {{ vencanje.svekar|default_if_none:"" }} </br>
          {{ vencanje.svekrva|default_if_none:"" }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 2. Ime, prezime, zanimanje i mesto stanovanja roditelja vencanih b) neveste -->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 9pt; justify-content: center;">
          {{ vencanje.tast|default_if_none:"" }}</br>
          {{ vencanje.tasta|default_if_none:"" }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 3. Godina, mesecm dan i mesto rodjenja vencanih a) zenika-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.datum_rodjenja_zenika|julian_date}}<br>
          {{ vencanje.mesto_rodjenja_zenika }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 3. Godina, mesecm dan i mesto rodjenja vencanih b) neveste-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.datum_rodjenja_neveste|julian_date }}<br>
          {{ vencanje.mesto_rodjenja_neveste }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 4. U koji brak stupaju a) zenika-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.zenik_rb_brak }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 4. U koji brak stupaju a) neveste-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.nevesta_rb_brak }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 5. Koga su dana ispitani i oglaseni-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.datum_ispita|julian_date }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 6. Godina, mesec i dan vencanja-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.datum|julian_date }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 7. Mesto i hram gde je vencanje izvrseno-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.mesto_zenika }}, {{ vencanje.hram }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 8. Ime i prezime svestenika koji je vencanje izvrsio-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.svestenik|default_if_none:"" }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 9. Ime, prezime, zanimanje, veroispovest i mesto stanovanja svedoka (kuma i starog svata)-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.kum|default_if_none:"" }}<br>
          {{ vencanje.stari_svat|default_if_none:"" }}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 10. Da li su ovi bracnici imali potrebu razresenja od oglasenja ili druge smetnje i jesu li razreseni-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center; line-height: 15px;">
          {% if vencanje.razresenje %}Да{% else %}Не{% endif %}
        </div>
      </div>
      <div class="row" style="height: 9mm;">
        <!-- 11. Primedba-->
        <div style="width: 42%;"></div>
        <div style="width: 55%; letter-spacing: 1px; font-size: 10pt; justify-content: center;">
          {{ vencanje.primedba|default_if_none:"" }}
        </div>
      </div>
      <div class="row" style="height: 8mm;">
        <div style="width: 62%;"></div>
        <div style="width: 30%; letter-spacing: 1px; justify-content: center; padding-bottom: 2mm;">
          Београдске
        </div>
      </div>
      <div class="row" style="height: 5mm;">
        <div style="width: 70%;"></div>
        <div style="width: 30%; letter-spacing: 1px; justify-content: center; padding-bottom: 2mm;">
          {{ vencanje.hram }}
        </div>
      </div>
      <div class="row" style="height: 19mm;"></div>
      <div class="row" style="height: 7mm; align-items: flex-end;">
        <div class="row" style="width: 6%; padding-right: 6%; height: 10mm; font-size: 9pt; justify-content: flex-start;">
          {% now "d.m" %}
        </div>
        <div class="row" style="width: 5%; font-size: 9pt; height: 10mm;">
          {% now "y" %}
        </div>
        <div style="width: 33%;"></div>
        <div class="row" style="width: 5%;">
        </div>
        <div style="width: 12%;">
          {% if vencanje.svestenik %}{{vencanje.svestenik.parohija}}{% endif %}
        </div>
        <div style="width: 30%; letter-spacing: 1px;font-size: 9pt; height: 5mm;">
          при Храму Свете Петке
        </div>
      </div>
      <!-- <div class="row" style="height: 7mm;"> -->
        <div class="row" style="width: 30%; height: 3mm; padding-bottom: 4%;">
          Београду
        </div>
        <div style="width: 70%;"></div>
    </div>
  </body>
</html>
