<!DOCTYPE html>
<html>
<head>
    <title>A4 Test Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registar/base/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'registar/pages/stampa.css' %}">
</head>
<body>
    <div id="text1" class="absolute-text">{{ object.zvanje }} (50mm, 30mm)</div>
    <div id="text2" class="absolute-text">{{ object.zvanje }} at (100mm, 100mm)</div>
    <div id="text3" class="absolute-text">{{ object.zvanje }} (150mm, from right 30mm)</div>
</body>
</html>
