{% extends 'base.html' %}
{% load marker_filter %}
{% block content %}
<div class="container">
<div class="u-page-header">
    <a href="#" class="back-button" onclick="history.back(); return false;" aria-label="Назад" title="Назад">
      <i class="ri-arrow-left-line"></i>
    </a>
<h1 class="u-page-title">Резултати претраге за "{{ query }}"</h1>
  </div>
  {% if veroisposvest_results or parohijan_results or domacinstvo_results %}
  <h2>Вероисповести</h2>
  <ul>
    {% for item in veroisposvest_results %}
    <li>{{ item.naziv|markiraj:query }}</li>
    {% empty %}
    <li>Нема резултата</li>
    {% endfor %}
  </ul>
  <h2>Парохијани</h2>
  <ul>
    {% for item in parohijan_results %}
    <li>{{ item.ime|markiraj:query }} {{ item.prezime|markiraj:query }}</li>
    {% empty %}
    <li>Нема резултата</li>
    {% endfor %}
  </ul>
  <h2>Домаћинства</h2>
  <ul>
    {% for item in domacinstvo_results %}
    <li>{{ item.oznaka }}</li>
    {% empty %}
    <li>Нема резултата</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Нема пронађених резултата.</p>
  {% endif %}
</div>
{% endblock %}
