{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="get" action="{% url 'search_view' %}">
        <input type="text" name="query" placeholder="Search..." value="{{ query }}">
        <button class="red-button" type="submit">Search</button>
    </form>
    
    <h1>Резултати претраге за "{{ query }}"</h1>
    {% if veroisposvest_results or parohijan_results or domacinstvo_results %}
        <h2>Вероисповести</h2>
        <ul>
            {% for item in veroisposvest_results %}
                <li>{{ item.naziv }}</li>
            {% empty %}
                <li>Нема резултата</li>
            {% endfor %}
        </ul>

        <h2>Парохијани</h2>
        <ul>
            {% for item in parohijan_results %}
                <li>{{ item.ime }} {{ item.prezime }}</li>
            {% empty %}
                <li>Нема резултата</li>
            {% endfor %}
        </ul>

        <h2>Домаћинства</h2>
        <ul>
            {% for item in domacinstvo_results %}
                <li>{{ item.oznaka }}</li>
            {% empty %}
                <li>Нема резултата</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нема пронађених резултата.</p>
    {% endif %}
</div>
{% endblock %}
