{% extends "base.html" %}
{% load marker_filter %}

{% block content %}
    <div class="page-header">
        <a href="#" class="back-button" onclick="history.back(); return false;" aria-label="Назад" title="Назад">
            <i class="bi bi-arrow-left"></i>
        </a>
        <h1 class="page-title">Венчања ({{ page_obj.paginator.count }})</h1>
        <form method="get" action="" class="form-container">
            <input
                type="text"
                name="search"
                value="{{ request.GET.search|default:'' }}"
                placeholder="Филтер за претрагу"
                class="search-input"
            >
        </form>
    </div>
    <ul class="spisak">
        {% for vencanje in vencanja %}
            <li class="stavka">
                <a href="{% url 'vencanje_detail' uid=vencanje.uid %}" class="stavka-veza">
                    {{ vencanje.datum }}:&nbsp;
                    {{ vencanje.ime_zenika|markiraj:upit|safe }}&nbsp;
                    и&nbsp;
                    {{ vencanje.ime_neveste|markiraj:upit|safe }}&nbsp;{{ vencanje.prezime_zenika|markiraj:upit|safe }}
                </a>
                        <a href="{% url 'vencanje_pdf' uid=vencanje.uid %}" target="_blank" style="text-decoration: none; margin-left: 10px;">
                            <button class="dugme-crveno" type="button">Штампај</button>
                        </a>
            </li>
        {% empty %}
            <li>Нема уноса венчања у бази.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link">&laquo; прва</a>
                <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link">претходна</a>
            {% endif %}

            <span class="current">
                страна {{ page_obj.number }} од {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link">следеђа</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link">последња &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
