{% extends "base.html" %}

{% block content %}
    <h1>Списак свештеника</h1>
    <ul>
        {% for svestenik in svestenici %}
            <li>
                {{ svestenik.osoba.ime }} {{ svestenik.osoba.prezime }}, {{ svestenik.zvanje }}
                <!-- Assume `entry.id` is the unique identifier of the entry -->
                <a href="{% url 'svestenik_detail' uid=svestenik.uid %}">
                    <button type="button">Приказ</button>
                </a>  &nbsp;
                <a href="{% url 'svestenik_pdf' uid=svestenik.uid %}" target="_blank">
                    <button type="button">Штампа</button>
                </a>                
            </li>
        {% empty %}
            <li>Нема уноса особа у бази.</li>
        {% endfor %}
    </ul>
{% endblock %}
