{% extends "base.html" %}

{% block content %}
    <div class="header-container">
        <h1 style="margin: 0;">Крштења</h1>
            <form method="get" action="" class="form-container">
                <div>
                    <!-- Remainder of the form -->
                    <input type="submit" class="hidden-submit">
                </div>
            </form>
    </div>
    <ul class="spisak">
        {% for krstenje in krstenja %}
            <li class="stavka">
                <a href="{% url 'krstenje_detail' uid=krstenje.uid %}" class="stavka-veza">
                    {{ krstenje.datum }}: {{ krstenje.dete }}
                </a>
                <a href="{% url 'krstenje_pdf' uid=krstenje.uid %}" target="_blank" style="text-decoration: none; margin-left: 10px;">
                    <button class="dugme-crveno" type="button">Штампа</button>
                </a>
            </li>
        {% empty %}
            <li>Нема уноса крштења у бази.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="page-link">&laquo; прва</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">претходна</a>
            {% endif %}

            <span class="current">
                страна {{ page_obj.number }} од {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">следеђа</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">последња &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
