{% extends "base.html" %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1 style="margin: 0;">Крштења</h1>
        <form method="get" action="" style="margin: 0;">
            <div style="display: flex; align-items: center;">
                {% for field in form.visible_fields %}
                    <!-- Render each field manually -->
                    {{ field }}
                {% endfor %}
                <!-- Hidden submit button -->
                <input type="submit" style="display: none;">
            </div>
        </form>
    </div>
    <ul style="padding: 0;">
        {% for krstenje in krstenja %}
            <li style="list-style-type: none; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
                <a href="{% url 'krstenje_detail' uid=krstenje.uid %}" style="text-decoration: none; color: black; display: flex; flex-grow: 1; align-items: center; padding: 10px; cursor: pointer;" onmouseover="this.parentNode.style.backgroundColor='#f0f0f0'" onmouseout="this.parentNode.style.backgroundColor='transparent'">
                    {{ krstenje.datum }}: {{ krstenje.dete }}
                </a>
                <a href="{% url 'krstenje_pdf' uid=krstenje.uid %}" target="_blank" style="text-decoration: none; margin-left: 10px;">
                    <button class="red-button" type="button">Штампа</button>
                </a>
            </li>
        {% empty %}
            <li>Нема уноса крштења у бази.</li>
        {% endfor %}
    </ul>
{% endblock %}
