{% extends "base.html" %}
{% load marker_filter %}

{% block content %}
    <div class="page-header">
        <a href="#" class="back-button" onclick="history.back(); return false;" aria-label="Назад" title="Назад">
            <i class="bi bi-arrow-left"></i>
        </a>
        <h1 class="page-title">Свештеници</h1>
        <form method="get" action="" class="form-container">
            <div>
                {% for field in form.visible_fields %}
                    {{ field }}
                {% endfor %}
                <input type="submit" class="hidden-submit">
            </div>
        </form>
    </div>
    <ul class="spisak">
        {% for svestenik in svestenici %}
            <li class="stavka">
                <a href="{% url 'svestenik_detail' uid=svestenik.uid %}" class="stavka-veza" onmouseover="this.parentNode.style.backgroundColor='#f0f0f0'" onmouseout="this.parentNode.style.backgroundColor='transparent'">
                    {{ svestenik.ime|markiraj:upit }} {{ svestenik.prezime|markiraj:upit }}, {{ svestenik.zvanje|markiraj:upit }}
                </a>
                <a href="{% url 'svestenik_pdf' uid=svestenik.uid %}" target="_blank" style="text-decoration: none; margin-left: 10px;">
                    <button class="dugme-crveno" type="button">Штампај</button>
                </a>
            </li>
        {% empty %}
            <li>Нема уноса свештеника у бази.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="page-link">&laquo; прва</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">претходна</a>
            {% endif %}

            <span class="current">
                страна {{ page_obj.number }} од {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">следеђа</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">последња &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
