{% extends "base.html" %}
{% load marker_filter %}

{% block content %}
<div class="u-page-header">
        <a href="#" class="back-button" onclick="history.back(); return false;" aria-label="Назад" title="Назад">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
<h1 class="u-page-title">Крштења ({{ page_obj.paginator.count }})</h1>
        <form method="get" action="" class="form-container">
            <div>
                {% for field in form.visible_fields %}
                    {{ field }}
                {% endfor %}
                <input type="submit" class="hidden-submit">
            </div>
        </form>
    </div>
    <ul class="spisak">
        {% for krstenje in krstenja %}
            <li class="stavka">
                <a href="{% url 'krstenje_detail' uid=krstenje.uid %}" class="stavka-veza">
                    {{ krstenje.datum }}:
                    {{ krstenje.ime_deteta|markiraj:upit|safe }} {{ krstenje.prezime_oca|markiraj:upit|safe }}
                    ({{ krstenje.ime_oca|markiraj:upit|safe }} и {{ krstenje.ime_majke|markiraj:upit|safe }} {{ krstenje.prezime_majke|markiraj:upit|safe }})
                </a>
                    <a href="{% url 'krstenje_pdf' uid=krstenje.uid %}" target="_blank" style="text-decoration: none; margin-left: 10px;">
<button class="button button--primary" type="button">Штампај</button>
                    </a>
            </li>
        {% empty %}
            <li>Нема уноса крштења у бази.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link">&laquo; прва</a>
                <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link">претходна</a>
            {% endif %}

            <span class="current">
                страна {{ page_obj.number }} од {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link">следеђа</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="page-link">последња &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
