{% extends "base.html" %}

{% block content %}
    <h1>Списак особа</h1>
    <form method="get" action="">
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
    <ul style="padding: 0;">
        {% for entry in parohijani_entries %}
            <li style="list-style-type: none; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
                <a href="{% url 'parohijan_detail' uid=entry.uid %}" style="text-decoration: none; color: black; display: flex; flex-grow: 1; align-items: center; padding: 10px; cursor: pointer;" onmouseover="this.parentNode.style.backgroundColor='#f0f0f0'" onmouseout="this.parentNode.style.backgroundColor='transparent'">
                    {{ entry.datum_rodjenja }}: {{ entry.ime }} {{ entry.prezime }}
                </a>
                <a href="{% url 'parohijan_pdf' uid=entry.uid %}" target="_blank" style="text-decoration: none; margin-left: 10px;">
                    <button type="button" style="font-size: 16px; line-height: 20px; background: #28a745; padding: 7px 15px; color: #fff; box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.25); font-weight: 600; transition: all ease 0.3s;">Штампа</button>
                </a>
            </li>
        {% empty %}
            <li>Нема уноса особа у бази.</li>
        {% endfor %}
    </ul>
{% endblock %}
