{% extends "base.html" %}

{% block content %}
  <form method="post" class="form">
    {% csrf_token %}

<div class="u-page-header">
      <a href="#" class="back-button" onclick="history.back(); return false;" aria-label="Назад" title="Назад">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
<h1 class="u-page-title">Унос крштења</h1>
<button class="button button--primary" type="submit" title="Сачувај">
        <i class="fa-solid fa-floppy-disk" style="margin-right: 6px;"></i> Сачувај
      </button>
    </div>

    {% if form.non_field_errors %}
      <div class="form-row">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <fieldset class="form-section">
      <legend>Регистар</legend>
      <div class="form-row">
        <div class="form-field">{{ form.redni_broj.label_tag }} {{ form.redni_broj }}</div>
        <div class="form-field">{{ form.godina_registracije.label_tag }} {{ form.godina_registracije }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.knjiga.label_tag }} {{ form.knjiga }}</div>
        <div class="form-field">{{ form.strana.label_tag }} {{ form.strana }}</div>
        <div class="form-field">{{ form.broj.label_tag }} {{ form.broj }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Детаљи крштења</legend>
      <div class="form-row">
        <div class="form-field">{{ form.datum.label_tag }} {{ form.datum }}</div>
        <div class="form-field">{{ form.vreme.label_tag }} {{ form.vreme }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.mesto.label_tag }} {{ form.mesto }}</div>
        <div class="form-field">{{ form.hram.label_tag }} {{ form.hram }}</div>
        <div class="form-field">{{ form.svestenik.label_tag }} {{ form.svestenik }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Дете</legend>
      <div class="form-row">
        <div class="form-field">{{ form.ime_deteta.label_tag }} {{ form.ime_deteta }}</div>
        <div class="form-field">{{ form.gradjansko_ime_deteta.label_tag }} {{ form.gradjansko_ime_deteta }}</div>
        <div class="form-field">{{ form.pol_deteta.label_tag }} {{ form.pol_deteta }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.datum_rodjenja.label_tag }} {{ form.datum_rodjenja }}</div>
        <div class="form-field">{{ form.vreme_rodjenja.label_tag }} {{ form.vreme_rodjenja }}</div>
        <div class="form-field">{{ form.mesto_rodjenja.label_tag }} {{ form.mesto_rodjenja }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.adresa_deteta_grad.label_tag }} {{ form.adresa_deteta_grad }}</div>
        <div class="form-field">{{ form.adresa_deteta_ulica.label_tag }} {{ form.adresa_deteta_ulica }}</div>
        <div class="form-field">{{ form.adresa_deteta_broj.label_tag }} {{ form.adresa_deteta_broj }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Родитељи</legend>
      <div class="form-row">
        <div class="form-field">{{ form.ime_oca.label_tag }} {{ form.ime_oca }}</div>
        <div class="form-field">{{ form.prezime_oca.label_tag }} {{ form.prezime_oca }}</div>
        <div class="form-field">{{ form.zanimanje_oca.label_tag }} {{ form.zanimanje_oca }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.adresa_oca_mesto.label_tag }} {{ form.adresa_oca_mesto }}</div>
        <div class="form-field">{{ form.veroispovest_oca.label_tag }} {{ form.veroispovest_oca }}</div>
        <div class="form-field">{{ form.narodnost_oca.label_tag }} {{ form.narodnost_oca }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.ime_majke.label_tag }} {{ form.ime_majke }}</div>
        <div class="form-field">{{ form.prezime_majke.label_tag }} {{ form.prezime_majke }}</div>
        <div class="form-field">{{ form.zanimanje_majke.label_tag }} {{ form.zanimanje_majke }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.adresa_majke_mesto.label_tag }} {{ form.adresa_majke_mesto }}</div>
        <div class="form-field">{{ form.veroispovest_majke.label_tag }} {{ form.veroispovest_majke }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Податци о детету</legend>
      <div class="form-row">
        <div class="form-field">{{ form.dete_rodjeno_zivo.label_tag }} {{ form.dete_rodjeno_zivo }}</div>
        <div class="form-field">{{ form.dete_po_redu_po_majci.label_tag }} {{ form.dete_po_redu_po_majci }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.dete_vanbracno.label_tag }} {{ form.dete_vanbracno }}</div>
        <div class="form-field">{{ form.dete_blizanac.label_tag }} {{ form.dete_blizanac }}</div>
        <div class="form-field">{{ form.drugo_dete_blizanac_ime.label_tag }} {{ form.drugo_dete_blizanac_ime }}</div>
        <div class="form-field">{{ form.dete_sa_telesnom_manom.label_tag }} {{ form.dete_sa_telesnom_manom }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Свештеник и Кум</legend>
      <div class="form-row">
        <div class="form-field">{{ form.svestenik.label_tag }} {{ form.svestenik }}</div>
        <div class="form-field">{{ form.ime_kuma.label_tag }} {{ form.ime_kuma }}</div>
        <div class="form-field">{{ form.prezime_kuma.label_tag }} {{ form.prezime_kuma }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.zanimanje_kuma.label_tag }} {{ form.zanimanje_kuma }}</div>
        <div class="form-field">{{ form.adresa_kuma_mesto.label_tag }} {{ form.adresa_kuma_mesto }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Матична књига – анаграф</legend>
      <div class="form-row">
        <div class="form-field">{{ form.mesto_registracije.label_tag }} {{ form.mesto_registracije }}</div>
        <div class="form-field">{{ form.datum_registracije.label_tag }} {{ form.datum_registracije }}</div>
        <div class="form-field">{{ form.maticni_broj.label_tag }} {{ form.maticni_broj }}</div>
        <div class="form-field">{{ form.strana_registracije.label_tag }} {{ form.strana_registracije }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Напомена</legend>
      <div class="form-row">
        <div class="form-field">{{ form.primedba.label_tag }} {{ form.primedba }}</div>
      </div>
    </fieldset>

    <!-- Bottom save removed as per request: action button is now at the top -->
  </form>
{% endblock %}
