{% extends "base.html" %}

{% block extra_css %}
  {{ form.media.css }}
{% endblock %}

{% block content %}
  <form method="post" class="form form--single-column">
    {% csrf_token %}

<div class="u-page-header">
      <a href="{% if back_url %}{{ back_url }}{% else %}{% url 'vencanja' %}{% endif %}" class="back-button" aria-label="Назад" title="Назад">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
<h1 class="u-page-title">Унос венчања</h1>
<button class="button button--primary" type="submit" title="Сачувај">
        <i class="fa-solid fa-floppy-disk" style="margin-right: 6px;"></i> Сачувај
      </button>
    </div>

    {% if form.non_field_errors %}
      <div class="form-row">{{ form.non_field_errors }}</div>
    {% endif %}

{% include 'registar/_form_errors.html' %}

    <fieldset class="form-section">
      <legend><i class="fa-solid fa-list-ol"></i> Регистар</legend>
      <div class="form-row">
        <div class="form-field">{{ form.redni_broj.label_tag }} {{ form.redni_broj }}</div>
        <div class="form-field">{{ form.godina_registracije.label_tag }} {{ form.godina_registracije }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.knjiga.label_tag }} {{ form.knjiga }}</div>
        <div class="form-field">{{ form.strana.label_tag }} {{ form.strana }}</div>
        <div class="form-field">{{ form.broj.label_tag }} {{ form.broj }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend><i class="fa-solid fa-ring"></i> Детаљи венчања</legend>
      <div class="form-row">
        <div class="form-field">{{ form.datum.label_tag }} {{ form.datum }}</div>
        <div class="form-field">
          {{ form.hram.label_tag }}
          {{ form.hram }}
        </div>
        <div class="form-field">
          {{ form.svestenik.label_tag }}
          {{ form.svestenik }}
        </div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Женик</legend>
      <div class="form-row">
        <div class="form-field" style="grid-column: 1 / -1;">
          {{ form.zenik.label_tag }}
          {{ form.zenik }}
        </div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Невеста</legend>
      <div class="form-row">
        <div class="form-field" style="grid-column: 1 / -1;">
          {{ form.nevesta.label_tag }}
          {{ form.nevesta }}
        </div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Родитељи</legend>
      <div class="form-row">
        <div class="form-field">
          {{ form.svekar.label_tag }}
          {{ form.svekar }}
        </div>
        <div class="form-field">
          {{ form.svekrva.label_tag }}
          {{ form.svekrva }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          {{ form.tast.label_tag }}
          {{ form.tast }}
        </div>
        <div class="form-field">
          {{ form.tasta.label_tag }}
          {{ form.tasta }}
        </div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Брак по реду</legend>
      <div class="form-row">
        <div class="form-field">{{ form.zenik_rb_brak.label_tag }} {{ form.zenik_rb_brak }}</div>
        <div class="form-field">{{ form.nevesta_rb_brak.label_tag }} {{ form.nevesta_rb_brak }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Испитивање</legend>
      <div class="form-row">
        <div class="form-field">{{ form.datum_ispita.label_tag }} {{ form.datum_ispita }}</div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Кум и стари сват</legend>
      <div class="form-row">
        <div class="form-field">
          {{ form.kum.label_tag }}
          {{ form.kum }}
        </div>
        <div class="form-field">
          {{ form.stari_svat.label_tag }}
          {{ form.stari_svat }}
        </div>
      </div>
    </fieldset>

    <fieldset class="form-section">
      <legend>Разрешење</legend>
      <div class="form-row">
        <div class="form-field">{{ form.razresenje.label_tag }} {{ form.razresenje }}</div>
      </div>
      <div class="form-row">
        <div class="form-field">{{ form.primedba.label_tag }} {{ form.primedba }}</div>
      </div>
    </fieldset>

    <!-- Bottom save removed as per request: action button is now at the top -->
  </form>
  {% include "registar/_modal_osoba.html" %}
  {{ form.media.js }}
{% endblock %}
