{% extends "base.html" %}

{% block extra_css %}
  {{ form.media.css }}
{% endblock %}

{% block extra_js %}
  {{ form.media.js }}
{% endblock %}

{% block content %}
  <form method="post" class="form info-page">
    {% csrf_token %}

<div class="u-page-header">
      <a href="{% if back_url %}{{ back_url }}{% else %}{% url 'krstenja' %}{% endif %}" class="back-button" aria-label="Назад" title="Назад">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
<h1 class="u-page-title">Унос крштења</h1>
<button class="button button--primary" type="submit" title="Сачувај">
        <i class="fa-solid fa-floppy-disk" style="margin-right: 6px;"></i> Сачувај
      </button>
    </div>

    {% if form.non_field_errors %}
      <div class="form-row">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

{% include 'registar/_form_errors.html' %}

    <div class="info-section">
      <h2 class="info-section__title"><i class="fa-solid fa-list-ol"></i> Регистар</h2>
      <ul class="info-rows">
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Редни број"><i class="fa-solid fa-hashtag"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.redni_broj.id_for_label }}">Редни број</label>
            <div class="info-row__value">{{ form.redni_broj }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Година регистрације"><i class="fa-solid fa-calendar"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.godina_registracije.id_for_label }}">Година регистрације</label>
            <div class="info-row__value">{{ form.godina_registracije }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Књига"><i class="fa-solid fa-book"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.knjiga.id_for_label }}">Књига</label>
            <div class="info-row__value">{{ form.knjiga }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Страна"><i class="fa-solid fa-bookmark"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.strana.id_for_label }}">Страна</label>
            <div class="info-row__value">{{ form.strana }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Текући број"><i class="fa-solid fa-list-ol"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.broj.id_for_label }}">Текући број</label>
            <div class="info-row__value">{{ form.broj }}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="info-section">
      <h2 class="info-section__title"><i class="fa-solid fa-baby"></i> Дете</h2>
      <ul class="info-rows">
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Дете"><i class="fa-solid fa-baby"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.dete.id_for_label }}">Дете</label>
            <div class="info-row__value">{{ form.dete }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Дете рођено живо"><i class="fa-solid fa-heart-pulse"></i></div>
          <div class="info-row__body info-row__body--inline">
            {{ form.dete_rodjeno_zivo }}
            <label class="info-row__label" for="{{ form.dete_rodjeno_zivo.id_for_label }}">Дете рођено живо</label>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Дете по реду (по мајци)"><i class="fa-solid fa-list-ol"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.dete_po_redu_po_majci.id_for_label }}">Дете по реду (по мајци)</label>
            <div class="info-row__value">{{ form.dete_po_redu_po_majci }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Ванбрачно дете"><i class="fa-solid fa-ring"></i></div>
          <div class="info-row__body info-row__body--inline">
            {{ form.dete_vanbracno }}
            <label class="info-row__label" for="{{ form.dete_vanbracno.id_for_label }}">Ванбрачно дете</label>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Дете близанац"><i class="fa-solid fa-people-arrows"></i></div>
          <div class="info-row__body info-row__body--inline">
            {{ form.dete_blizanac }}
            <label class="info-row__label" for="{{ form.dete_blizanac.id_for_label }}">Дете близанац</label>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Име другог детета близанца"><i class="fa-solid fa-tag"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.drugo_dete_blizanac_ime.id_for_label }}">Име другог детета близанца</label>
            <div class="info-row__value">{{ form.drugo_dete_blizanac_ime }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Дете са телесном маном"><i class="fa-solid fa-hand-holding-medical"></i></div>
          <div class="info-row__body info-row__body--inline">
            {{ form.dete_sa_telesnom_manom }}
            <label class="info-row__label" for="{{ form.dete_sa_telesnom_manom.id_for_label }}">Дете са телесном маном</label>
          </div>
        </li>
      </ul>
    </div>

    <div class="info-section">
      <h2 class="info-section__title"><i class="fa-solid fa-droplet"></i> Детаљи крштења</h2>
      <ul class="info-rows">
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Датум"><i class="fa-solid fa-calendar-day"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.datum.id_for_label }}">Датум</label>
            <div class="info-row__value">{{ form.datum }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Време"><i class="fa-solid fa-clock"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.vreme.id_for_label }}">Време</label>
            <div class="info-row__value">{{ form.vreme }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Храм"><i class="fa-solid fa-church"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.hram.id_for_label }}">Храм</label>
            <div class="info-row__value">{{ form.hram }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Свештеник"><i class="fa-solid fa-user-tie"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.svestenik.id_for_label }}">Свештеник</label>
            <div class="info-row__value">{{ form.svestenik }}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="info-section">
      <h2 class="info-section__title"><i class="fa-solid fa-people-arrows"></i> Родитељи</h2>
      <ul class="info-rows">
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Отац"><i class="fa-solid fa-person"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.otac.id_for_label }}">Отац</label>
            <div class="info-row__value">{{ form.otac }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Мајка"><i class="fa-solid fa-person-dress"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.majka.id_for_label }}">Мајка</label>
            <div class="info-row__value">{{ form.majka }}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="info-section">
      <h2 class="info-section__title"><i class="fa-solid fa-user-tag"></i> Кум</h2>
      <ul class="info-rows">
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Кум"><i class="fa-solid fa-user-tag"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.kum.id_for_label }}">Кум</label>
            <div class="info-row__value">{{ form.kum }}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="info-section">
      <h2 class="info-section__title"><i class="fa-solid fa-book"></i> Матична књига – анаграф</h2>
      <ul class="info-rows">
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Место регистрације"><i class="fa-solid fa-location-dot"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.mesto_registracije.id_for_label }}">Место регистрације</label>
            <div class="info-row__value">{{ form.mesto_registracije }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Датум регистрације"><i class="fa-solid fa-calendar-day"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.datum_registracije.id_for_label }}">Датум регистрације</label>
            <div class="info-row__value">{{ form.datum_registracije }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Матични број"><i class="fa-solid fa-id-card"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.maticni_broj.id_for_label }}">Матични број</label>
            <div class="info-row__value">{{ form.maticni_broj }}</div>
          </div>
        </li>
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Страна регистрације"><i class="fa-solid fa-bookmark"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.strana_registracije.id_for_label }}">Страна регистрације</label>
            <div class="info-row__value">{{ form.strana_registracije }}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="info-section">
      <h2 class="info-section__title"><i class="fa-solid fa-note-sticky"></i> Напомена</h2>
      <ul class="info-rows">
        <li class="info-row info-row--editable info-row--stacked">
          <div class="info-row__icon" data-tooltip="Напомена"><i class="fa-solid fa-note-sticky"></i></div>
          <div class="info-row__body">
            <label class="info-row__label" for="{{ form.primedba.id_for_label }}">Напомена</label>
            <div class="info-row__value">{{ form.primedba }}</div>
          </div>
        </li>
      </ul>
    </div>

    <!-- Bottom save removed as per request: action button is now at the top -->
  </form>
  {% include "registar/_modal_osoba.html" %}
{% endblock %}
