{% extends "base.html" %}
{% load info_components %}

{% block extra_css %}{{ form.media.css }}{% endblock %}
{% block extra_js %}{{ form.media.js }}{% endblock %}

{% block content %}
<form method="post" class="info-page" data-edit-toggle-root data-mode="edit">
  {% csrf_token %}

  {% url 'parohija:user_list' as user_list_url %}
  {% include "_partials/_page_header.html" with title="Нови корисник" subtitle=parohija.naziv back_url=user_list_url action_submit=True action_icon="fa-solid fa-floppy-disk" action_label="Сачувај" %}

  {% if form.non_field_errors %}{% include "_partials/_form_errors.html" %}{% endif %}

  {% info_section title="Налог" icon="fa-id-card" %}
    {% info_row icon="fa-at" label="Корисничко име" field=form.username %}
    {% info_row icon="fa-key" label="Лозинка" field=form.password %}
    {% info_row icon="fa-user" label="Име" field=form.first_name %}
    {% info_row icon="fa-user-tag" label="Презиме" field=form.last_name %}
    {% info_row icon="fa-envelope" label="Е-маил" field=form.email %}
  {% endinfo_section %}

  {% info_section title="Приступ у парохији" icon="fa-shield-halved" %}
    {% info_row icon="fa-shield-halved" label="Улога" field=form.role %}
    {% info_row_bool icon="fa-star" label="Главна парохија за корисника" value_label="Главна парохија за корисника" field=form.is_default %}
  {% endinfo_section %}
</form>
{% endblock %}
