#search-overlay {
    display: none; /* Skriveno dok se ne aktivira */
    position: absolute;
    right: 0;
    top: 100%; /* Da bi se spustilo ispod menija */
    min-width: 250px; /* Minimalna širina polja za pretragu */
    max-width: 100%; /* Da ne pređe preko menu-search-wrapper */
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Dodaje senku za bolju vidljivost */
    z-index: 1001;
}

#search-overlay.active {
    display: flex;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

#search-overlay button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
}

#search-overlay input {
    width: 100%; /* Da input zauzima veći deo polja */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px; /* Prostor za tekst unutar input polja */
}


.search-icon-button {
    margin-right: 10px; /* Razmak između ikone pretrage i input polja */
}

.close-search {
    display: block;
    position: absolute;
    right: -30px; /* Pomereno desno van polja za pretragu */
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

.close-search i {
    font-size: 20px;
}
