/* Лого */
.logo {
    position: relative;
    float: left;
}

.logo:before {
    content: "";
    background: linear-gradient(90deg, #F9F9F9 0%, #DFE0E0 97.97%);
    display: block;
    height: 131px;
    width: 100%;
    position: absolute;
    transform: skewX(-29deg);
    top: 0;
    left: 0;
    z-index: -1;
    border-right: 5px solid #fff;
}

.logo:after {
    clear: both;
    display: table;
    content: " ";
}

#logo img {
    max-width: 100%;
    padding-top: 20px;
    display: block;
    box-sizing: border-box;
}

/* Падајући мени */
.menu-search-wrapper {
    position: relative; /* Da bi apsolutno pozicioniranje unutar roditelja radilo */
    display: flex;
    justify-content: flex-end; /* Poravnava sadržaj na desnoj strani */
    width: 100%; /* Uzima punu širinu roditeljskog elementa */
    max-width: 600px; /* Maksimalna širina, prilagodite po potrebi */
}
#menu {
    display: flex;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#menu li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

#menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
}

#menu .dropdown {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, #A21514 53.58%, #C92F2E 100%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#menu .dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#menu li:hover .dropdown {
    display: block;
}

#menu .dropdown a:hover {
    background-color: linear-gradient(90deg, #9c1818 53.58%, #e13f3f 100%);
}

.hamburger-menu {
    display: none;
    color: white;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    #menu {
        display: none;
    }

    #menu.open {
        display: block;
    }
}
/* Поље за претрагу */
#search-overlay {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 250px;
    max-width: 100%;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

#search-overlay.active {
    display: flex;
}

#search-overlay button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
}

#search-overlay input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.search-icon-button {
    margin-right: 10px;
}

.close-search {
    display: block;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

.close-search i {
    font-size: 20px;
}
