/* Стилови класа */
.dugme-crveno {
    font-size: 16px;
    line-height: 20px;
    background: #A21514;
    padding: 7px 15px;
    color: #fff;
    box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    transition: all ease 0.3s;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 6px;
}

.slava-reminders {
    float: right;
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slava-reminder {
    margin-bottom: 10px;
}

.slava-link {
    display: block;
    color: #d9534f;
    text-decoration: none;
    padding: 10px;
}

.slava-link:hover {
    background-color: #f0f0f0;
    color: #c9302c;
    text-decoration: underline;
}
