/* Крштеница */
@font-face {
    font-family: 'Miroslavljeva Cirilica';
    src: url('../fontovi/Miroslavljeva-Cirilica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.krstenica {
    border: 1px solid #ccc;
    margin: 2mm;
    margin-top: 6mm;
    margin-left: 6mm;
    height: 297mm;
    width: 210mm;
    padding: 0mm;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid red;
    background-size: cover;
    background-image: url("../slike/krstenica-nova.jpg");
    font-family: 'Miroslavljeva Cirilica', serif;
}

.krstenica-frame {
    margin: 2mm;
    margin-top: 6mm;
    margin-left: 6mm;
    height: 286mm;
    width: 200mm;
    padding: 0mm;
}

.krstenica-row {
    display: flex;
    font-family: 'Miroslavljeva Cirilica', serif;
}
