/* Крштеница */
.krstenica {
    border: none;
    margin: 2mm;
    margin-top: 6mm;
    margin-left: 6mm;
    height: 297mm;
    width: 210mm;
    padding: 0mm;
    box-shadow: none;
    background-size: cover;
    background-image: url("../slike/krstenica-nova.jpg");
}

.krstenica-frame {
    margin: 2mm;
    margin-top: 6mm;
    margin-left: 6mm;
    height: 286mm;
    width: 200mm;
    padding: 0mm;
}

.krstenica-row {
    border: none;
    display: flex;
}
