/* Венчаница */
@font-face {
    font-family: 'Miroslavljeva Cirilica';
    src: url('../fontovi/Miroslavljeva-Cirilica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS Variables for easy positioning adjustments */
:root {
    /* Vertical positions (percentage from top) - fine-tuned based on background image */
    --venc-knjiga-top: 3%;      /* Knjiga/Strana/Tekuci broj section */
    --venc-eparhija-top: 14%;   /* епархије line */
    --venc-hram-top: 16%;       /* БЕОГРАДСКО-КАРЛОВАЧКЕ / hram line */
    --venc-mesto-top: 19.5%;    /* mesto / godina line */
    --venc-field1a-top: 24%;    /* 1a. Ime zenika */
    --venc-field1b-top: 27%;    /* 1b. Ime neveste */
    --venc-field2a-top: 30%;    /* 2a. Roditelji zenika */
    --venc-field2b-top: 33%;    /* 2b. Roditelji neveste */
    --venc-field3a-top: 36%;    /* 3a. Rodjenje zenika */
    --venc-field3b-top: 39%;    /* 3b. Rodjenje neveste */
    --venc-field4a-top: 42%;    /* 4a. Brak zenika */
    --venc-field4b-top: 45%;    /* 4b. Brak neveste */
    --venc-field5-top: 48%;     /* 5. Datum ispita */
    --venc-field6-top: 51%;     /* 6. Datum vencanja */
    --venc-field7-top: 54%;     /* 7. Mesto i hram */
    --venc-field8-top: 57%;     /* 8. Svestenik */
    --venc-field9-top: 60%;     /* 9. Svedoci (kum i stari svat) */
    --venc-field10-top: 63%;    /* 10. Razresenje */
    --venc-field11-top: 66%;    /* 11. Primedba */
    --venc-eparhija2-top: 70%;  /* Beogradske */
    --venc-hram2-top: 73%;      /* Hram name again */
    --venc-bottom-top: 85%;     /* Bottom section */

    /* Horizontal positions */
    --venc-left-label: 5%;
    --venc-left-value: 42%;     /* Left edge of value column */
}

.vencanica {
    border: 1px solid #ccc;
    margin: 2mm;
    margin-top: 6mm;
    margin-left: 6mm;
    height: 297mm;
    width: 210mm;
    padding: 0mm;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid red;
    background-size: cover;
    background-image: url("../slike/vencanica-nova.jpg");
    font-family: 'Miroslavljeva Cirilica', serif;
    position: relative;
}

.vencanica-frame {
    margin: 2mm;
    margin-top: 6mm;
    margin-left: 6mm;
    height: 286mm;
    width: 200mm;
    padding: 0mm;
    position: relative;
}

.vencanica-row {
    display: flex;
    font-family: 'Miroslavljeva Cirilica', serif;
}

/* Absolute positioning for dynamic layout */
.venc-absolute-field {
    position: absolute;
    left: var(--venc-left-value);
    right: 5%;
    font-family: 'Miroslavljeva Cirilica', serif;
    text-align: center;
}
